.heading{
	width: 70%;
	margin: 50px auto;
	text-align: center;
	font-size: 36px;
	color: 	#3498DB;
	background: #EBF5FB;
	border: 6px solid #3498DB;
	border-radius: 20px;
}

form {
	width: 50%; 
	margin: 50px auto; 
	border-radius: 8px; 
	padding: 10px;
	background: #EBF5FB;
	border: 4px solid #3498DB;
}
form p {
	color: red;
	margin: 0px;
}
.task_input {
	width: 75%;
	height: 15px; 
	padding: 10px;
	border: 2px solid #3498DB;
}
.add_btn {
	height: 39px;
	background: #95A5A6;
	color: 	#154360;
	font-weight: bold;
	border: 2px solid #3498DB;
	border-radius: 5px; 
	padding: 5px 20px;
}

table {
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
}

tr {
	border-bottom: 1px solid #cbcbcb;
}

th {
	font-size: 20px;
	color: #3498DB;
}

th, td{
	border: none;
    height: 30px;
    padding: 2px;
}

tr:hover {
	background: #E9E9E9;
}


.task {
	text-align: center;
}

.delete{
	text-align: center;
}

.taskno. {
	text-align: center;
}

.delete a{
	color: white;
	background: #a52a2a;
	padding: 1px 6px;
	border-radius: 3px;
	text-decoration: none;
}


